* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #000;
  min-height: 100vh;
}

#dropdown-box {
  margin-top: 10px;
  padding: 10px 15px;
  width: 160px;
  border: 0;
  border-radius: 5px;
  outline: none;
  background: rgb(182, 115, 245);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.container {
  margin-top: 10px;
  border: 1px solid white;
  padding: 10px;
  width: 100%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-content: flex-start;
}

.box {
  width: 90px;
  height: 90px;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}
